// COLOR VARIABLE
// $primary-color:;
// $secondary-color:;
// $third-color:; 
$wrap-color: #dfe1e0;


// FONT VARIABLE
$font-primary: 'Alegreya', sans-serif;
$font-display: 'Josefin Slab', serif;
$font-popup: Arial, Helvetica, sans-serif;

// OTHER VARIABLE

// GRID
