// COLOR VARIABLE
$primary-color: #252525;
$secondary-color:#f3f3f4;
$third-color:#554f56;
$wrap-color: #dfe1e0;


// FONT VARIABLE
$font-primary: 'Alegreya', sans-serif;
$font-display: 'Josefin Slab', serif;
$font-popup: Arial, Helvetica, sans-serif;

// OTHER VARIABLE

// GRID


