/*
 *  Primary style
 */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  color: #252525;
  background-color: #dfe1e0;
  line-height: 1.5rem;
  hyphens: auto;
  overflow-wrap: break-word;
  box-shadow: #111;
  text-rendering: optimizeLegibility; }

label {
  font-weight: bold;
  margin-bottom: 1rem; }

input, textarea {
  border: 1px solid #554f56;
  outline: none;
  padding: 10px;
  width: 100%;
  margin-top: .4rem; }

button {
  cursor: pointer; }

/*
 *  Headings
 */
h1 {
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem; }

h2 {
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1.5rem; }

h3 {
  margin: 0;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 4.5rem; }

p {
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  line-height: 1.2; }

.wrap {
  padding-top: 1px; }
  .wrap__content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px; }
    @media screen and (min-width: 1024px) {
      .wrap__content {
        grid-template-columns: repeat(2, 1fr); } }

.box {
  background-color: #fff;
  width: 100%;
  height: 550px; }
  .box-withPadding {
    padding: 3rem; }

.list-unstyled {
  padding: 0;
  list-style: none; }

.form-group {
  margin: 1.2rem 0; }

.profile__heading,
.skills__heading,
.heading {
  margin-bottom: 2rem; }

.header__buttons {
  margin-top: 20px; }

.button {
  font-family: 'Jost', sans-serif;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.08rem;
  margin-right: 15px; }
  .button--secondary {
    color: #fff;
    border: 1px solid #252525;
    background-color: black;
    transition: all ease-in-out .3s; }
  .button--secondary:hover {
    background-color: transparent;
    border: 1px solid #252525;
    color: #252525; }
  .button--secondary:focus {
    color: #fff;
    background-color: #252525; }
  .button--primary {
    transition: all ease-in-out .3s;
    color: #252525;
    border: 1px solid #252525; }
  .button--primary:hover, .button--primary:focus {
    color: #fff;
    background-color: #252525; }

.button:focus,
.button.active,
.button:active {
  background-image: none;
  box-shadow: none;
  outline: 0 none; }

.contact__details .show__info-link {
  color: #252525;
  text-decoration: none; }

.contact__details .show__info-link i {
  display: inline-block;
  padding-top: 18px;
  padding-right: 15px; }

.contact__details .show__info-link:hover {
  background-color: #fff; }

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: ". . ." ". . ."; }
  .social__icon {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.4); }
  .social__icon:nth-cild(n + 4) {
    border-bottom: none; }
  .social__icon:first-child, .social__icon:nth-child(3 + 1) {
    border-left: none; }
  .social__box {
    display: grid;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background: rgba(0, 0, 0, 0.8); }
  .social__content i.fa,
  .social__content i.fab,
  .social__content .iconify {
    color: #fff;
    font-size: 45px; }
  .social__content img {
    height: 60px;
    width: 60px; }
  .social__content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%); }
  .social__icon-github:hover .social__box {
    background: #211f1f;
    height: 100%; }
  .social__icon-twitter:hover .social__box {
    background: #32ccfe;
    height: 100%; }
  .social__icon-linkedin-in:hover .social__box {
    background: #007bb5;
    height: 100%; }
  .social__icon-stack-overflow:hover .social__box {
    background: #f48024;
    height: 100%; }
  .social__icon-codewars:hover .social__box {
    background: #bb432c;
    height: 100%; }

.profile {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.profileImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .profileImage__item {
    margin-top: 35px; }
    .profileImage__item img {
      width: 350px;
      height: 350px;
      border: 5px inset #554f56;
      border-radius: 30px 10px 30px 10px; }
  .profileImage__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around; }

.portfolio__wrapper {
  width: 100%;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  /* media queries - portfolio */
  /* portfolio content */ }
  .portfolio__wrapper-item {
    position: relative;
    background: #111417;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.3%;
    height: 275px;
    cursor: pointer; }
    .portfolio__wrapper-item img {
      width: 100%;
      height: 100%; }
    .portfolio__wrapper-item .overlay {
      display: none;
      transition: opacity 0.3s ease ease-in;
      left: 0;
      top: 0;
      right: 0;
      flex-direction: column;
      bottom: 0;
      background: rgba(0, 0, 0, 0.88);
      position: absolute;
      justify-content: center;
      align-items: center; }
      .portfolio__wrapper-item .overlay .portfolio__item-meta {
        animation: moving 0.8s; }

@keyframes moving {
  from {
    transform: translateX(-80px); }
  to {
    transform: translateX(1px); } }
        .portfolio__wrapper-item .overlay .portfolio__item-meta h5 {
          letter-spacing: 1px;
          font-weight: 400;
          color: #fff;
          text-transform: uppercase;
          margin: 0.2rem; }
        .portfolio__wrapper-item .overlay .portfolio__item-meta p {
          color: #8A8A8A;
          font-size: 0.9rem; }
    .portfolio__wrapper-item .link-icon {
      font-size: 0.7rem;
      color: #fff;
      padding-bottom: 5rem; }
      .portfolio__wrapper-item .link-icon i {
        padding-top: 1.5rem; }
  .portfolio__wrapper-item:hover .overlay {
    display: flex; }
  .portfolio__wrapper-item:hover img {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 1300px) {
    .portfolio__wrapper {
      width: 100%;
      padding: 0; } }
  .portfolio__wrapper__wrapper {
    margin-top: 2.25rem; }

.contact__details {
  background-color: #252525; }

.contact__wrapper {
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 30px; }
  .contact__wrapper .show-map {
    display: block;
    bottom: 1px;
    color: #fff; }
    .contact__wrapper .show-map i {
      display: inline-block;
      padding-top: 18px;
      padding-right: 15px;
      font-size: 22px; }

.contact__group {
  margin-bottom: 30px;
  padding: 7px 0 7px 20px;
  border-left: 1px solid #666; }

.contact__heading {
  color: #fff;
  display: block;
  font-size: 16px; }

.contact__info {
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #888; }

.contact__address {
  display: flex; }
  .contact__address-sub {
    width: 50%; }

.contact__form {
  margin-top: 2rem;
  font-size: 1rem;
  margin: 0 auto; }

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .skills__info-wrap {
    width: 100%; }
  .skills__info-wrap > p {
    margin-bottom: 0.5rem; }
    .skills__info-wrap > p a {
      text-decoration: none;
      color: #554f56;
      font-weight: bold;
      cursor: pointer; }
  .skills__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 2rem; }
    .skills__container .skills__progress {
      width: 80%; }
      .skills__container .skills__progress .progress {
        border: 1px solid #252525;
        background-color: #fcfcfc; }
        .skills__container .skills__progress .progress .progress-bar {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 0.8rem;
          height: 12px;
          background-color: #252525; }
  .skills__icon-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    font-size: 3em;
    letter-spacing: 1rem;
    margin-bottom: 1.5rem; }

.h4 {
  margin: 0 0 0.5rem 0; }

.popup-modal {
  max-width: 550px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  position: relative;
  margin: 0 auto;
  color: #554f56; }
  .popup-modal .media img {
    width: 100%;
    height: 350px; }
  .popup-modal .description-box {
    padding: 0.37rem 2.25rem 1.2rem 2.25rem; }
  .popup-modal h4 {
    margin: 1rem 0 0.8rem 0;
    font-weight: 900; }
  .popup-modal p {
    font-size: 1rem;
    color: #554f56;
    margin-bottom: 0.5rem; }
  .popup-modal .categories {
    display: flex;
    align-items: center; }
    .popup-modal .categories .effect {
      color: #554f56;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 0.7rem;
      text-decoration: none;
      margin-right: 0.5rem; }
    .popup-modal .categories .effect:hover {
      text-decoration: underline; }
  .popup-modal .popup-buttons {
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: space-around; }
    .popup-modal .popup-buttons .btn {
      width: 50%;
      background: #000000;
      outline: none;
      color: #fff;
      border: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 500;
      line-height: 2.2rem;
      font-size: 0.7rem; }
    .popup-modal .popup-buttons .btn:hover {
      background-color: #554f56;
      transition: all ease-in-out .3s; }

.header {
  font-family: 'Crimson Text', serif;
  background-size: cover;
  background-image: url(/img/image1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .header__logo {
    font-family: 'Bigshot One', cursive;
    position: absolute;
    top: 75px;
    left: 85px;
    width: 8rem;
    height: 1.3rem;
    font-size: 1.8rem;
    font-weight: lighter; }
  .header__content {
    margin-left: 3rem; }

.footer {
  height: 70px;
  width: 100%;
  background-color: #f7f7f7; }
