/*
 *  Primary style
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Josefin+Slab', serif;
  font-weight: 400;
  color: #252525;
  background-color: #dfe1e0;
  font-size: 15px;
  line-height: 24px;
  hyphens: auto;
  overflow-wrap: break-word;
  box-shadow: #111; }

.wrap {
  padding-top: 1px; }
  .wrap__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px; }

.box {
  background-color: #f4f3f4;
  width: 100%;
  height: 550px; }

/*
 *  Headings
 */
h1 {
  font-weight: 100;
  font-size: 4rem;
  line-height: 3rem;
  margin-bottom: 1rem; }

h3 {
  margin: 0;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 4.5rem; }

.header__buttons {
  margin-top: 20px; }

.button {
  font-family: 'Jost', sans-serif;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.08rem;
  margin-right: 15px; }
  .button--secondary {
    color: #f4f3f4;
    border: 1px solid #252525;
    background-color: black; }
  .button--secondary:hover {
    background-color: transparent;
    border: 1px solid #252525;
    color: #252525; }
  .button--secondary:focus {
    color: #f4f3f4;
    background-color: #252525; }
  .button--primary {
    color: #252525;
    border: 1px solid #252525; }
  .button--primary:hover, .button--primary:focus {
    color: #f4f3f4;
    background-color: #252525; }

.button:focus,
.button.active,
.button:active {
  background-image: none;
  box-shadow: none;
  outline: 0 none; }

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: ". . ." ". . ."; }
  .social__icon {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.4); }
  .social__icon:nth-cild(n + 4) {
    border-bottom: none; }
  .social__icon:first-child, .social__icon:nth-child(3 + 1) {
    border-left: none; }
  .social__box {
    display: grid;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #f4f3f4;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background: rgba(0, 0, 0, 0.8); }
  .social__content i.fa,
  .social__content i.fab,
  .social__content .iconify {
    color: #f4f3f4;
    font-size: 45px; }
  .social__content img {
    height: 60px;
    width: 60px; }
  .social__content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%); }
  .social__icon-github:hover .social__box {
    background: #211f1f;
    height: 100%; }
  .social__icon-twitter:hover .social__box {
    background: #32ccfe;
    height: 100%; }
  .social__icon-linkedin-in:hover .social__box {
    background: #007bb5;
    height: 100%; }
  .social__icon-stack-overflow:hover .social__box {
    background: #f48024;
    height: 100%; }
  .social__icon-codewars:hover .social__box {
    background: #bb432c;
    height: 100%; }

.img {
  position: relative; }
  .img__item {
    position: absolute;
    top: 18%;
    left: 20%;
    background-position: center;
    margin: 0 auto;
    width: 80%;
    height: 80%; }
    .img__item img {
      -webkit-box-shadow: 1px -2px 0px -4px rgba(0, 0, 0, 0.56);
      -moz-box-shadow: 1px -2px 0px -4px rgba(0, 0, 0, 0.56);
      box-shadow: 1px -2px 0px -4px rgba(0, 0, 0, 0.56); }

.profile {
  position: relative;
  letter-spacing: 0.5px;
  font-size: 1.4rem; }
  .profile__text {
    position: absolute;
    top: 10%;
    left: 11%;
    width: 80%;
    height: 80%;
    line-height: 1.2; }
  .profile__button {
    letter-spacing: 1px;
    position: absolute;
    top: 80%;
    left: 11%;
    transform: scale(0.95); }

.portfolio {
  background: #111417;
  padding-top: 120px;
  border-bottom: 1px solid #15191d;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr); }
  .portfolio__wrapper {
    width: 100%;
    height: 100%; }

.header {
  background-size: cover;
  background-image: url(/img/image1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .header__logo {
    position: absolute;
    top: 65px;
    left: 65px;
    width: 8rem;
    height: 1.3rem;
    font-size: 1.8rem;
    font-weight: lighter; }
  .header__content {
    margin-left: 2rem; }

.footer {
  height: 70px;
  width: 100%;
  background-color: #f7f7f7; }
