.footer {
  position: relative;
  width: 100%;
  background-color:#f7f7f7;
  padding: 30px;
  &__content {
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    @include respond(phone) {
      letter-spacing: 1px;
      padding: 10px;
    }
    .button {
      margin: 0;
      position: absolute;
      top: -10px;
      left: 49%;
      @media only screen and (min-width:1400px) {
        left: 49.5%
      }
      @include respond(phone) {
        left: 45%;
      }
    }
  }
}
