.header {
  background-size: cover;
  background-image: url(/img/image1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__logo {
    font-family: 'El Messiri', sans-serif;
    position: absolute;
    top: 75px;
    left: 85px;
    width: 8rem;
    height: 1.3rem;
    font-size: 1.8rem;
    font-weight: lighter;
    @include respond(tab-port) {
      top: 60px;
      left: 60px;
    }
    @media only screen and (min-width: 300px) and (max-width: 600px){
      top: 40px;
      left: 40px;
    }
  }
  
  &__content {
    margin-left: 3rem;
  }
}























