.header {
  &__buttons {
    margin-top: 20px;
  }
}

.button {
  font-family: $font-buttons;
  font-size: .9rem;
  border-radius: 0;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  padding: 7px 10px;
  font-weight: 400;
  letter-spacing: 0.06rem;
  margin-right: 15px;
  @include respond(phone) {
    font-size: 10px;
  }

  &--secondary {
    color: $secondary-color;
     border: 1px solid $primary-color;
    background-color: rgba($color: #252525, $alpha: 1);
    transition: all ease-in-out .3s;
  }
  &--secondary:hover {
    background-color: transparent;
    border: 1px solid $primary-color;
    color:$primary-color;
  }
  &--secondary:focus {
    color: $secondary-color;
    background-color:$primary-color;
  }
  &--primary {
    transition: all ease-in-out .3s;
    color:  $primary-color;
    border: 1px solid $primary-color;
  }
  &--primary:hover,
  &--primary:focus {
    color: $secondary-color;
    background-color:  $primary-color;
  }
}

.button:focus,
.button.active,
.button:active {
  background-image: none;
  box-shadow: none;
  outline: 0 none;
}

.contact__details {
  .show__info-link {
    color: $primary-color;
    text-decoration: none;
  }
  .show__info-link i {
    display: inline-block;
    padding-top: 18px;
    padding-right: 15px;
  }
  .show__info-link:hover {
    background-color: $secondary-color;
  }
}
