
.contact {
  background-color: $primary-color;
  overflow: hidden;
  padding: 0;
  
  .show__info-link {
    font-size: .9rem;
    display: none;
    padding: 0.5rem;
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;

    .fa-info {
      padding-right: .5rem;
    }
  }
  .show__info-link:hover {
    color: red;
  }

  .resp-iframe {
    display: none;
  }

  // generate from JS
  .show-resp-iframe {
    transition: transform 0.2s easein-in-out;
    width: 100%;
    height: 550px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 30px;
    @include respond(phone) {
      padding: 0;
    }

    .show-map {
      display: block;
      bottom: 1px;
      color: $secondary-color;
      font-size: .9rem;
      text-decoration: none;
      cursor: pointer;

      i {
        display: inline-block;
        padding-top: 18px;
        padding-right: 15px;
        font-size: 1.3rem;
      }
    }
  }

  &__group {
    margin-bottom: 30px;
    padding: 7px 0 7px 20px;
    border-left: 1px solid #666;
  }

  &__heading {
    color: $secondary-color;
    display: block;
    font-size: 1rem;
  }
  
  &__info {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #888;
  }

  &__address {
    display: flex;
    padding-bottom: 8rem;
    @include respond(phone) {
      padding-bottom: 0;
    }
    &-sub {
      width: 50%;
    }
  }

  &__form {
    //margin-top: 2rem;
    font-size: 1rem;
    margin: 0 auto;
    .alert {
      text-align: center;
      padding: 10px;
      background-color: #79c879;
      color: #fff;
      margin-bottom: 0.5rem;
      display: none;
    }

    #message, #email, #name {
      margin-bottom: 1rem;
    }

    .if-none {
      visibility: hidden;
    }
  }
}

// generate from JS
.contact.active {
  background-color: $wrap-color;
  .show__info-link {
    display: block;
  }
}

