
.contact {
  background-color: $primary-color;

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 30px;
    @include respond(phone) {
      padding: 0;
    }

    .show-map {
      display: block;
      bottom: 1px;
      color: $secondary-color;
      i {
        display: inline-block;
        padding-top: 18px;
        padding-right: 15px;
        font-size: 1.3rem;
      }
    }
  }

  &__group {
    margin-bottom: 30px;
    padding: 7px 0 7px 20px;
    border-left: 1px solid #666;
  }
  &__heading {
    color: $secondary-color;
    display: block;
    font-size: 1rem;
  }
  &__info {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #888;
  }
  &__address {
    display: flex;
    &-sub {
      width: 50%;
    }
  }
  &__form {
    margin-top: 2rem;
    font-size: 1rem;
    margin: 0 auto;
  }
}


