/* =====================
  Info + Contact 
==================*/
.contact {
  background-color: $primary-color;
  &__address {
    display: flex;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 30px;

    .list-unstyled {
      padding: 0;
      list-style: none;
      width: 50%;
      
      .contact-group {
        // display: block;
        margin-bottom: 30px;
        padding: 7px 0 7px 20px;
        border-left: 1px solid #666;
        .adr-heading {
          color: $secondary-color;
          display: block;
          font-size: 16px;
        }

        .adr-info {
          font-size: 12px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          color: #888;
        }
      }
    }

    .show-map {
      display: block;
      bottom: 1px;
      color: $secondary-color;
      i {
        display: inline-block;
        padding-top: 18px;
        padding-right: 15px;
        font-size: 22px;
      }
    }
  }
}

.content {
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heading {
      
    }

    .form {
      .form-group {
        padding: 10px;
      }
    }
  }
}













