.portfolio {
  background: #111417;
  border-bottom: 1px solid #15191d;  
  &__wrapper {
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;

    &-item {
      position: relative;
      background: #111417;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 33.3%;
      height: 275px;
      cursor: pointer;


      img {
        width: 100%;
        height: 100%
      }
      img:hover {
        opacity: 0.8;
        // transform: scale(1.1);
        // opacity: 1;
      }

      .overlay {
        display: none;

        // background: rgba(0, 0, 0, 0.85);
        transition: opacity 0.5s ease-in-out;

        .portfolio__item-meta {
          // margin: 1rem;
          h5 {
            letter-spacing: 2px;
            font-weight: 400;
            color: $secondary-color;
            text-transform: uppercase;
            margin: 0.2rem;
          }
          p {
            color: #8A8A8A;
            font-size: 0.9rem;
          }
        }
      }

      .link-icon {
        font-size: 0.7rem;
        color: $secondary-color;
        padding-bottom: 5rem;
        i {
          padding-top: 1.4rem;
        }
      }

    }

    &-item:hover {
      // background-color: $primary-color;
     
      .overlay {
        display: flex;
        left: 0;
        top: 0;
        right: 0;
        flex-direction: column;
        bottom: 0;
        background: rgba(0, 0, 0, 0.85);
        position: absolute;
        justify-content: center;
        align-items:center;
        
      }
    }

    /* media queries - portfolio */
    @media only screen and (max-width:1300px) {
      width: 100%;
      padding: 0;
    }
    /* portfolio content */
    &__wrapper {
      margin-top: 36px;
    }
  }

}





