.portfolio {
  @include grid;
  &__wrapper {
    &-item {
      width: 100%;
      height: auto;
      @include position-item;
      background: #111417;
      text-align: center;
      cursor: pointer;
      img {
        width: 100%;
        height: auto;
        object-fit:cover;
        object-position: 50% 50%;
      }

      .overlay {
        display: none;
        transition: opacity 0.3s ease ease-in;
        left: 0;
        top: 0;
        right: 0;
        flex-direction: column;
        bottom: 0;
        background: rgba(0, 0, 0, 0.88);
        position: absolute;
        justify-content: center;
        align-items:center;
        .portfolio__item-meta {
          animation: moving 0.8s;
          @keyframes moving {
            from {transform: translateX(-80px);}
            to {transform: translateX(1px);}
          }

          h5 {
            letter-spacing: 1px;
            font-weight: 400;
            color: $secondary-color;
            text-transform: uppercase;
            margin: 0.2rem;
          }

          p {
            color: #8A8A8A;
            font-size: 0.9rem;
          }
        }
      }

      .link-icon {
        font-size: 0.7rem;
        color: $secondary-color;
        padding-bottom: 5rem;
        i {
          padding-top: 1.5rem;
        }
      }
    }

    &-item:hover {
      .overlay {
        display: flex;
      }
      img {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
    }

    /* media queries - portfolio */
    @media only screen and (max-width:1300px) {
      width: 100%;
      padding: 0;
    }
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "." "." "." "." "." ".";
  }
  /* portfolio content */
   @include respond(phone) {
    font-size: 1.2rem;
  }
}






























