.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__item {
    img {
      width: 350px;
      height: 350px;
      border: 5px inset $third-color;
      border-radius: 30px 10px 30px 10px;
    }  
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h2 {
      margin: 25px 15px ;
      line-height: 1.5rem;
    }
  }
}

.profile {
  position: relative;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  &__text {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    line-height: 1.2;
  }

  &__button {
    letter-spacing: 1px;
    position: absolute;
    top: 80%;
    left: 11%;
    transform: scale(0.95);
  }

  // .heading {
  //   h2:after {
  //     position: absolute;
  //     content: '';
  //     width: 40px;
  //     height: 4px;
  //     background: $third-color;
  //     top: 60px;
  //     left: 0;
  //   }
  // }
}














































