
/*
 *  Headings
 */

h1 {
  
  
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Crimson Text', serif;
  // font-family: 'Kaushan Script', cursive;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

h3 {
  margin: 0;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 4.5rem;
}

p {
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  line-height: 1.2;
}


















 


