
/*
 *  Headings
 */

h1 {
  font-weight: 100;
  font-size: 4rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 4.5rem;
}

















 


