body {
  background-color: $wrap-color;
  color: $primary-color;
  font-family: $font-primary;
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.75rem;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
}

/* Headings */
h1 {
  font-family: $font-headings;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 2.4rem;
  line-height: 3rem;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

h3 {
  font-family:$font-headings-sub;
  margin: 0;
  font-weight: 400;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 5rem;
}

p {
  letter-spacing: 0.4px;
  font-size: 1.2rem;
  line-height: 1.6;
}
