// COLOR VARIABLE
$primary-color: #252525;
$secondary-color:#fff;
$third-color:#554f56;
$wrap-color: #dfe1e0;


// FONT VARIABLE
$font-primary: 'Alegreya', sans-serif;
$font-display: 'Josefin Slab', serif;
$font-popup: Arial, Helvetica, sans-serif;

// OTHER VARIABLE
$progress-bar-width: 550px;
$progress-bar-offset-vert: 35px;

// GRID


