// COLOR VARIABLE
$primary-color: #252525;
$secondary-color:#fff;
$third-color:#554f56;
$wrap-color: #dfe1e0;

// FONT VARIABLE
$font-primary: 'Maitree', sans-serif;
$font-headings: 'Crimson Text', serif;
$font-headings-sub: 'Linden Hill', serif;
$font-logo:  'El Messiri', sans-serif;
$font-buttons: 'Jost', sans-serif;

// OTHER VARIABLE
$progress-bar-width: 550px;
$progress-bar-offset-vert: 35px;
